#fsf-notes {
  border: .15em solid #099;
  margin: 2.25em 2.25em 1em;
}
#fsf-licensing { font-size: 80%; }
.note {
  width: auto;
  max-width: 100%;
  border: 0;
}
@media (min-width: 48em) {
  .note {
    float: none;
    display: table-cell;
    vertical-align: middle;
  }
}
.listing { margin-bottom: 2.5em; }
.listing td { text-align: initial; }
.listing td.icon { width: 20%; text-align: center; }
.listing td.icon img { max-width: 100%; max-height: 4em; }
